.navbar {
    background-color: #B0C4DE;
    position: relative;
    top: 0;
    height: 100px;
    line-height: 60px;
    width: 100vw;
    list-style-type: none;
    text-decoration: none;
}
.navhome {
  background-color: aqua;
  margin: 0 10 0 50px;
  text-align: left;
  padding: 5 20px;
  float: left;
  width: 100px;
} @media(max-width: 768px) {
    .home {
      margin-left: 15px;
      width:70px;
    }
  } @media(max-width: 390px) {
      .home {
        margin-left:5px;
        width: 40px;
      }
    } 
  .home a:hover {
      transform: scale(2);
      cursor: pointer;  
    }
.menu {
  background-color:antiquewhite;
  float: right;
  width: 500px;
  margin: 0 50 0 0px;
  display: float;
} @media(max-width: 768px) {
  .menu {
    margin-right: 15px;
    width:200px;
  }
} @media(max-width: 390px) {
    .menu {
      margin-right:5px;
      width: 80px;
    }
  }
  .navhome a {
    text-decoration: none;
  }
  .menu a:hover {
    transform: scale(2);
    cursor: pointer;  
  }
.menu ul {
      display: inline-block;
      list-style: none;
      /* margin-right: 14px; */
      margin-top: 2px;
      text-align: right;
      transition: transform 0.5s ease-out;
      -webkit-transition: transform 0.5s ease-out;
    } @media(max-width: 640px) {
        .menu ul {
          display: none;
        }
      } @media(orientation: landscape) {
        .menu ul {
            display: inline-block;
          }
        }

.menu li {
  display: inline-block;
}
.menu li a {
  color: rgb(13, 26, 38);
  display: block;
  height: 40px;
  letter-spacing: 1px;
  margin: 0 10px;
  padding: 5 20px;
  position: relative;
  text-decoration: none;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
} */

.body {
  background-color: aliceblue;
    top: 0;
    margin: 0 10px;
    padding: 10 10 10 10px;
    line-height: 60px;
    width: 100vw;
  list-style-type: none;
}

#img {
  height: 200px;
  
}
.content {
  display: inline-block;
  margin: 10 10px;
  padding: 10 10 10 10px;
  line-height: 40px;
  width: 70vw;
  font-size:22px;
  
}
.sidebar {
  
    height: 100%;
    width: 150px;
    position: absolute;
    right: 0;
    top: 108px;
    padding-top: 40px;
    background-color: lightblue;
    text-decoration: none;
    }
    
.sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
    
    }
.sidebar a {
    padding-bottom:10px;
    text-decoration: none;
    }
.sidebar a:hover {
    transform: scale(2);
    cursor: pointer;  

    }
  


