.navbar {
    background-color: #B0C4DE;
    position: relative;
    padding-top: 0;
    height: 100px;
    line-height: 60px;
    width: 100vw;
    list-style-type: none;
    text-decoration: none;
}
.navhome {
  margin: 0 10 0 50px;
  text-align: left;
  padding: 5 20px;
  float: left;
  width: 100px;
} @media(max-width: 768px) {
    .navhome {
      margin-left: 15px;
      width:70px;
    }
  } @media(max-width: 380px) {
      .navhome {
        margin-left:5px;
        width: 40px;
      }
    } 
  .navhome a {
    text-decoration: none;
    color:black;
  }
  .navhome a:hover {
      transform: scale(2);
      cursor: pointer;  
    }
.menu {
  
  float: right;
  width: 500px;
  margin: 0 50 0 0px;
  display: float;
} @media(max-width: 768px) {
  .menu {
    margin-right: 15px;
    width:200px;
  }
} @media(max-width: 390px) {
    .menu {
      margin-right:5px;
      width: 80px;
    }
  }
  .menu a {
    text-decoration: none;
  }
  .menu a:hover {
    transform: scale(2);
    cursor: pointer;  
  }
.menu ul {
      display: inline-block;
      list-style: none;
      /* margin-right: 14px; */
      margin-top: 2px;
      text-align: right;
      transition: transform 0.5s ease-out;
      -webkit-transition: transform 0.5s ease-out;
    } @media(max-width: 640px) {
        .menu ul {
          display: inline-block;
        }
      } @media(orientation: landscape) {
        .menu ul {
            display: inline-block;
          }
        }

.menu li {
  display: inline-block;
}
.menu li a {
  color: black;
  display: block;
  height: 40px;
  letter-spacing: 1px;
  margin: 0 10px;
  padding: 5 20px;
  position: relative;
  text-decoration: none;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
} */

.body {
  background-color: aliceblue;
    top: 0;
    margin: 0 10px;
    padding: 0 10 10 10px;
    line-height: 60px;
    width: 100vw;
  list-style-type: none;
}

#img {
  height: 200px;
  
}
.content {
  display: inline-block;
  margin: 10 10px;
  padding: 10 10 10 10px;
  line-height: 40px;
  width: 70vw;
  font-size:22px;
  
}
.sidebar {
    overflow: hidden;
    height: 100%;
    width: 200px;
    position: absolute;
    right: 0;
    top: 108px;
    padding-top: 40px;
    background-color: #bcd4e6;
    text-align: center;
    text-decoration: none;
    }@media(max-width: 640px) {
      .sidebar {
        width: 80px;
      }
    } @media(max-width: 380px) {
      .sidebar {
          width: 40px;
        }
      }
    
.sidebar a {
    display: block;
    padding:0 20 20 10px;
    text-decoration: none;
    color:black;
    }
.sidebar a:hover {
    transform: scale(2);
    cursor: pointer;  
    }
  


